node_modules/
.env

# Enhance temp files
.enhance/
shared/enhance-styles/

# Fonts
public/woff

# Generated assets
public/static.json
shared/static.json
public/bundles/
public/pages/

# Architect CloudFormation
sam.json
sam.yaml

.DS_Store
